html body{
    background-color: #FAF9F6;
    color: black;
    margin: 0px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    font-weight: bold;
    font-style: oblique;
}
.top-bar{
    display: flex;
    margin: 0px;
}
.title{
    padding: 20px;
}
.list-item{
    margin: 0px 20px 0px 20px;
    list-style-type: none;
}
.minimize{
    height: 751px;
    
}
.content{
    background-color: #FAF9F6;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.content:hover{
    background-color: #d2f4fb;

}
img{
    height: 300px;
}
.p-container{
    width: 70%;
    padding: 0px 40px 0px 40px;

}
.p-container p{
    text-align: center;
}
.image-container{
    width: 30%;
    display: flex;
    justify-content: center;
}
.image-container img{
    border-radius: 10px;
    width: 300px;
}
footer{
   color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17 59 71);
    
}
footer p{
    margin: 0px;
    font-size: smaller;
    padding: 5px;
}
.content-b{
    background-color: #FAF9F6;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid rgb(90, 216, 255);
}
.content-b:hover{
    width: 90%;
}

/* Ensures carousel images fill the screen */
.carousel-item {
    height: 100vh;
    min-height: 400px;
    opacity: .7;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Transition effect for the main content */
.content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}

.carousel-fade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FAF9F6 100%);
    pointer-events: none;
    z-index: 2;
}

.carousel-item .ctext {
   color: black;
}

.ctext h5 {
    font-size: 32px;
}
.ctext p{
    font-size: 18px;
    font-style: italic;
}

.carousel-caption {
    top: 15%;
}